@{
    /**/

    /**/

    ViewBag.Title = "Home Page";
}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="javascript:void(0);" id="addStore" class="btn btn-info">
                        <i class="glyphicon glyphicon-plus"></i> Add Store
                    </a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="listStore" class="table table-striped table-bordered nowrap" cellspacing="0">
                        <thead>
                            <tr class="bg-info" style="text-align:center">
                                <th style="text-align:center; width:10%">Id</th>
                                <th style="text-align:center; width:30%">Name</th>
                                <th style="text-align:center; width:30%">Address</th>
                                <th style="text-align:center; width:30%">Action</th>
                            </tr>
                        </thead>
                        <tbody id="table"></tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



@*modal*@
<section style="display:none">
    <form id="formStore" class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel-body">
                @Html.Hidden("id")
                <div class="form-group">
                    @Html.Label("Name", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-7">
                        @Html.TextBox("name", "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group" style="padding-top:0">
                    @Html.Label("Address", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-7">
                        @Html.TextBox("address", "", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
@*modal*@

@section script
{
    <script src="~/Scripts/alertify.min.js"></script>
    <script src="~/Scripts/store.js"></script>

}